.mttSectionContainer {
    background-color: var(--black);
}

.mttMainHeading {
    margin-bottom: 2em;
}

.mttFlexContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 8em;
}

.mttContainer  {
    width: 18em;
    height: 30em;
}

.mttImgContainer {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 100px;
    border: 1px solid #ff8210;
}

.mttImg {
    object-fit: cover;
}

.mttSocialMediaFlexContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 10%;
    background-color: var(--black);
    transition: width 1s;
}

.mttFullWidth {
    width: 100%;
}

.mttNameFlexContainer {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    background-color: var(--black);
    transition: height 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
}

.mttFullHeight {
    height: 90%;
    font-size: 2.5rem;
    color: var(--white);
}