.sectionContainer {
    background-color: var(--black);
}

.mainHeading {
    margin-bottom: 2em;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 8em;
}

.container  {
    width: 18em;
    height: 30em;
}

.imgContainer {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 100px;
    border: 1px solid #ff8210;
}

.img {
    object-fit: cover;
}

.socialMediaFlexContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 10%;
    background-color: var(--black);
    transition: width 1s;
}

.fullWidth {
    width: 100%;
}

.nameFlexContainer {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    background-color: var(--black);
    transition: height 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
}

.fullHeight {
    height: 90%;
    font-size: 2.5rem;
    color: var(--white);
}