.section {
    margin-top: 0;
}

.header {
    font-weight: 600;
    font-size: 3.5rem;
}

.textGalleryFlexContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55em;
}

.textFlexContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2em;
    width: 30%;
}

.textFlexContainer div:first-child {
    text-align: center;
}

.textFlexContainer div:last-child {
    background-color: #f4d1ed;
    text-align: center;
    line-height: 2.5;
    width: 80%;
    font-size: 1.4rem;
}

.galleryGridContainer {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr)); */
    row-gap: 2.5em;
    column-gap: 1em;
    width: 50%;
}

.galleryGridContainer > div {
    overflow: hidden;
    position: relative;
    padding: 8.5em;
    height: 10em;
    border: 1px solid black;
}

.roundedBorder {
    border-radius: 50px;
}

.galleryGridContainer div:first-child {
    grid-area: 1 / 1 / 1 / 3;
}

.galleryGridContainer div:last-child {
    grid-area: 2 / 2 / 2 / 4;
}

.img {
    object-fit: cover;
}

.videoFlexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em;
}

.videoFlexContainer > div {
    background-color: var(--black);
}

.link {
    text-decoration: underline;
    color: blue;
}

/* MEDIA QUERIES */
@media (width >= 280px) {
    .videoFlexContainer > div {
        height: 50%;
        width: 90%;
    }

    .textFlexContainer div:last-child {
        width: initial;
        font-size: 1rem;
    }

    .textGalleryFlexContainer {
        flex-direction: column;
        justify-content: space-evenly;
        height: 55em;
        border: 1px solid red;
    }

    .header {
        font-size: 2rem;
        margin-top: 2em;
    }

    /* .galleryGridContainer {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: 100%;
        border: 5px solid blue;
    } */

    /* .galleryGridContainer > div {
        padding: 0;
        height: 6em;
        margin-inline: 2em;
    } */
}

@media (width >= 640px) {
    .videoFlexContainer > div {
        height: 80%;
    }   
}

@media (width >= 1024px) {
    .videoFlexContainer > div {
        width: 50em;
    }    
}

/* 280px, 320px, 640px, 768px, 1024px, 1280px, 1536px */