.section {
    margin-top: 2rem;
    /* border: 1px solid black; */
}

.header {
    font-weight: 600;
    font-size: 3.5rem;
}

.textGalleryFlexContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55em;
    /* border: 3px solid pink; */
}

.textFlexContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2em;
    width: 30%;
    /* border: 1px solid red; */
}

.textFlexContainer div:first-child {
    text-align: center;
    /* border: 2px solid blue; */
}

.textFlexContainer div:last-child {
    background-color: #f4d1ed;
    text-align: center;
    line-height: 2.5;
    width: 80%;
    font-size: 1.4rem;
    /* border: 1px solid green; */
}

.galleryGridContainer {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    row-gap: 2.5em;
    column-gap: 1em;
    width: 50%;
    /* border: 1px solid red; */
}

.galleryGridContainer > div {
    overflow: hidden;
    position: relative;
    padding: 8.5em;
    height: 10em;
    border: 1px solid black;
}

.roundedBorder {
    border-radius: 50px;
}

.galleryGridContainer div:first-child {
    grid-area: 1 / 1 / 1 / 3;
}

.galleryGridContainer div:last-child {
    grid-area: 2 / 2 / 2 / 4;
}

.img {
    object-fit: cover;
}

.videoFlexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em;
    /* border: 1px solid red; */
}

.videoFlexContainer > div {
    height: 80%;
    width: 50em;
    background-color: var(--black);
    /* border: 3px solid blue; */
}

.link {
    text-decoration: underline;
    color: blue;
}

/* @media (max-width: 1000px) {
    .galleryGridContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .galleryGridContainer div:first-child {
        grid-area: 1 / 1;
    }

    .galleryGridContainer div:nth-child(4) {
        display: none;
    }
} */