.NavHeader {
    position: fixed;
    z-index: 99;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: background-color 1.8s;
}

.NavHeaderTransparent {
    background-color: rgb(84, 81, 81);
    height: 11.5%;
}

.NavHeaderColour {
    background-color: transparent;
}

.NavUlFlexContainer {
    display: flex;
}

.NavLiFlexItems {
    margin-right: 6vw;
    font-size: 1.8em;
    color: var(--white);
}

.NavLiFlexItems:last-child {
    margin-right: 1.5vw;
}

.NavLiFlexItems:hover {
    opacity: 0.9;
}