.wtfuHeading {
    margin-bottom: 1.5em;
}

.wtfuMainFlexContainer {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wtfuTextFlexContainer {
    border: 1px solid var(--black);
    display: flex;
    justify-content: space-between;
    padding: 2.5em 2.8em;
}

.wtfuIconContainer {
    /* border: 1px solid yellow; */
    padding: 0.2em 0.5em 0 0;
}

.wtfuTextContainer {
    /* border: 1px solid purple; */
    font-size: 1.4rem;
}

.wtfuImgContainer {
    /* border: 1px solid red; */
    width: 60%;
    height: 30em;
    overflow: hidden;
    position: relative;
}

.wtfuImg {
    object-fit: cover;
}