.heading {
    margin-bottom: 1.5em;
}

.mainFlexContainer {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textFlexContainer {
    border: 1px solid var(--black);
    display: flex;
    justify-content: space-between;
    padding: 2.5em 2.8em;
}

.iconContainer {
    /* border: 1px solid yellow; */
    padding: 0.2em 0.5em 0 0;
}

.textContainer {
    /* border: 1px solid purple; */
    font-size: 1.4rem;
}

.imgContainer {
    /* border: 1px solid red; */
    width: 60%;
    height: 30em;
    overflow: hidden;
    position: relative;
}

.img {
    object-fit: cover;
}