.parallaxBanner {
    height: 100dvh;
}

.mainTextContainer {
    position: absolute;
    top: 20em;
    left: 0;
    transform: translate(0, -50%);
    height: 50%;
    width: 100%;
}

.textContainer {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.heroHeading {
    font-size: 6rem;
    font-weight: 700;
}

.heroSubHeading {
    font-size: 2.5rem;
}

.textLocation {
    font-size: 1.2rem;
}

.button {
    background-color: #0d1c62;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 8em;
    transition: background-color 0.3s ease-in;
    line-height: 2;
    box-shadow: 2.5px 2.5px rgba(0,0,0,0.9);
}

.button:hover {
    background-color: #2a3562;
}

.textContainer div:first-child {
    text-align: center;
}

.textContainer div:last-child {
    position: relative;
    top: 8vh;
}

.whiteDiv {
    background-color: var(--white);
    width: 150%;
    position: absolute;
    bottom: -5em;
    transform: rotate(5deg);
    left: -20vw;
    padding-top: 9em;
}