.hsParallaxBanner {
    height: 100vh;
}

.hsMainTextContainer {
    position: absolute;
    top: 20em;
    left: 0;
    transform: translate(0, -50%);
    height: 60%;
    width: 100%;
}

.hsTextContainer {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.hsHeroHeading {
    font-size: 6rem;
    font-weight: 700;
}

.hsHeroSubHeading {
    font-size: 2.5rem;
}

.hsTextLocation {
    font-size: 1.2rem;
}

.hsButton {
    background-color: #2a3562;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 8em;
    transition: background-color 0.3s ease-in;
    line-height: 2;
    box-shadow: 2.5px 2.5px rgba(0,0,0,0.9);
}

.hsButton:hover {
    background-color: #1a2a69;
}

.hsTextContainer div:first-child {
    text-align: center;
}

.hsTextContainer div:last-child {
    text-align: center;
    position: relative;
    top: 12vh;
}

.hsWhiteDiv {
    background-color: var(--white);
    width: 150%;
    height: 10em;
    position: absolute;
    bottom: -4em;
    transform: rotate(5deg);
    left: -20vw;
}