/* .heroSection {
    background-image: url("/Barber-imgs/picture-1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    height: 100%;
} */

.parallaxBanner {
    height: 100vh;
}

.textDiv {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.textH1 {
    font-size: 6em;
    font-weight: 700;
}

.textH3 {
    font-size: 2.5em;
}

.textP {
    font-size: 1.2em;
}

.textButton {
    margin-top: 20vh;
    background: #2a3562;
    border-radius: 10px;
    font-size: 1.5em;
    width: 12vw;
}