.aboutSectionContainer {
    position: relative;
}

.aboutFlexContainer {
    display: flex;
    justify-content: space-evenly;
}

.aboutContainerText {
    position: relative;
    background-color: #f9f4f4;
    width: 40vw;
    height: 0;
    padding-bottom: 75vh;
    top: 7vh;
    left: 8vw;
    z-index: 1;
}

.aboutMainHeading {
    margin-bottom: 24vh;
}

.aboutHeading {
    margin-top: 10vh;
    font-size: 2em;
}

.aboutText {
    font-size: 0.9em;
}

.aboutContainerImage {
    position: relative;
    width: 45vw;
    height: 0;
    padding-bottom: 85vh;
    overflow: hidden;
}

.aboutImage {
    object-fit: cover;
}

.marginLeft {
    margin-left: 3vw;
}

.paraMarginRight {
    margin-right: 2vw;
}

.paraMarginTop {
    margin-top: 8vh;
}

.divRight {
    position: absolute;
    top: 10vh;
    right: 0;
    /* width: 20vw; */
    /* height: 47vw; */
    width: 12em;
    height: 46em;
    background-color: var(--headingGrey);
}

.divLeft {
    position: absolute;
    top: 20vh;
    right: 1vw;
    /* width: 28vw; */
    /* height: 44vw; */
    width: 16em;
    height: 45em;
    background-color: var(--headingGrey);
}