.AboutMainHeading {
    font-size: 5em;
    margin-top: 10vh;
    margin-left: 6vw;
    margin-bottom: 24vh;
    color: var(--headingGrey);
}

.AboutFlexContainer {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid red;
}

.AboutContainerText {
    position: relative;
    background-color: #f9f4f4;
    width: 40vw;
    height: 0;
    padding-bottom: 75vh;
    top: 7vh;
    left: 8vw;
    z-index: 1;
}

.AboutHeading {
    margin-top: 10vh;
    font-size: 2em;
}

.AboutText {
    font-size: 0.9em;
}

.AboutContainerImage {
    position: relative;
    width: 45vw;
    height: 0;
    padding-bottom: 85vh;
    overflow: hidden;
}

.AboutImage {
    object-fit: cover;
}

.MarginLeft {
    margin-left: 3vw;
}

.ParaMarginRight {
    margin-right: 2vw;
}

.ParaMarginTop {
    margin-top: 8vh;
}