.aboutSectionContainer {
    position: relative;
}

.aboutDivRight {
    position: absolute;
    top: 4em;
    right: 0;
    width: 12em;
    height: 85%;
    background-color: var(--headingGrey);
}

.aboutDivLeft {
    position: absolute;
    top: 8em;
    right: 1.5em;
    width: 16em;
    height: 88%;
    background-color: var(--headingGrey);
}

.aboutMainHeading {
    margin-bottom: 2.2em;
}

.aboutFlexContainer {
    display: flex;
    justify-content: space-evenly;
}

.aboutContainerText {
    position: relative;
    background-color: #f9f4f4;
    width: 35em;
    height: 0;
    padding-bottom: 32em;
    top: 3em;
    left: 8em;
    z-index: 1;
}

.aboutContainerImage {
    position: relative;
    width: 44em;
    height: 0;
    padding-bottom: 38em;
    overflow: hidden;
}

.aboutHeading {
    margin: 2.5em 0 0 1em;
    font-size: 2rem;
}

.aboutImage {
    object-fit: cover;
}

.aboutPara {
    margin: 4em 2em 0 2em;
    font-size: 0.9rem;
}