@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

:root {
  --white: #fff;
  --black: #000;
  --headingGrey: #a6a6a6;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

.headingStyle {
  font-size: 5em;
  margin-top: 1.2em;
  margin-left: 1.2em;
  color: var(--headingGrey);
}

.iconStyle {
  cursor: pointer;
}

/* @media (prefers-color-scheme: dark) {

} */